@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.ConfirmPasswordDiv {
    text-align: center;
    display: flexbox;
    margin-top: 10%;
    margin-right: 40%;
    margin-left: 40%;
}

.ConfirmPasswordDiv h1 {
    border-bottom: 1px solid white;
    color: #4717f6;
}
.ConfirmPasswordDiv p {
    font-size: 18px;
}
.ConfirmPasswordDiv p input {
    resize: both;
    cursor: pointer;
    font-size: 18px;
    margin-left: 3%;
    padding: 10px;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
    background: transparent;
}
.ConfirmPasswordDiv p input:focus {
    outline: none;
}
.ConfirmPasswordDiv p input::placeholder {
    font-family: 'Kanit', sans-serif;
}

.ConfirmPasswordDiv button {
    border: none;
    padding: 3%;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    border-radius: 5px;
    transition: 0.7s ease-in-out;
}
.ConfirmPasswordDiv button:hover {
    background-color: #a515d1;
    color: white;
}