@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.divResetPassword {
    display: flexbox;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
.divResetPassword h1 {
    color: #4717f6;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.divResetPassword p {
    font-size: 18px;
}
.divResetPassword p input {
    cursor: pointer;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    font-size: 18px;
    margin-left: 3%;
    resize: both;
    background: transparent;
}
.divResetPassword p input:placeholder {
    font-family: 'Kanit', sans-serif;
}
.divResetPassword p input:focus {
    outline: none;
}
.divResetPassword button {
    border-radius: 5px;
    margin-top: 8%;
    border: none;
    float: right;
    padding: 2%;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}
.divResetPassword button:hover {
    background-color: #a515d1;
    color: white;
}
.divResetPassword a {
    margin-top: 5px;
    cursor: pointer;
    float: left;
}
.divResetPassword a:hover {
    border-bottom: 1px solid white;
}
.sendEmailP {
    color: green;
    margin-top: 25%;
    margin-right: 30%;
}