.mainContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container_of_Calendar ul{
	display: flex;
	list-style: none;
  flex-wrap: wrap;
}
.createBuuton {
  display: flex;
  align-items: center;
  padding: 7px;
  justify-content: space-between;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.createBuuton:hover {
  background-color: #a515d1;
  color: white;
  border-color: #a515d1;
}
.container_of_Calendar p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.container_of_Calendar ul li {
  width: calc(100%/8);
  border: 1px solid black;
  padding: 10px;
}
.Header {
  font-size: 20px;
  font-weight: 800;
  border-bottom: 1px solid black;
}
.Event {
  background-color: bisque;
}
.Arrows {
  transition: 0.5s ease-in-out;
  text-align: center;
  border-radius: 50%;
  padding: 1%;
}
.Arrows:hover {
  background-color: #f2f2f2;
  
}
.DaysName {
  font-weight:700;
  font-size: 20px;
  text-align: center;
}