.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Container {
    margin-top: 1%;
}
.Calendar {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;
    border: 1px solid black;
    min-width: 30%;
    border-radius: 20px;
    margin-bottom: 4%;
    transition: .3s ease-in-out;
}
.Calendar:hover {
    background-color: #f2f2f2;
}
.Calendar p {
    font-size: 18px;
    font-weight: 900;
}
.ImportButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    float: left;
    padding: 10px;
    background: transparent;
    margin-right: 1%;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.ImportButton:hover {
    background-color: #4717f6;
    color: white;
    border-color: #4717f6;
}
